.wrapper {
  padding: 4rem 2rem;
  background-color: #fff;
 
}

.subheading {
  text-transform: uppercase;
  color: #888;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.heading {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #222;
  text-align: left;
}

.highlight {
  color: #f6c90e; 
}

.paragraph {
  font-size: 1rem;
  color: #555;
  line-height: 1.8;
  max-width: 1400px;
  text-align: left;
}
